.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 640px;
}

.post-card {
    margin: 16px 16px;
    /* display: flex; */
    height: 700px;
}

.tag-but {
    margin: 0 4px;
}

.create-post {
    margin:36px 10% 0 10%;
}

textarea {
    resize: none;
}