#root {
    background-color: rgb(172, 146, 231);
    height: 100vh;
    color: white;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
    /* margin-bottom: 20px; */
}

input {
    width: 100%;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 16px;
}

.dj-row {
    margin:10px 9px;
    
}

.dj-button {
    min-width: 80px;
}